<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ product.code }}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
  <a class="navbar-brand" href="/" target="_self">Home</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'ProductDetailView' pk=product.pk %}">Summary</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'ProductUpdateView' pk=product.pk %}">Product Details</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'ProductColoursListView' pk=product.pk %}">Colours</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'ProductBomView' pk=product.pk %}">BOM</a>
      </li>
              <li class="nav-item">
        <a class="nav-link" href="{% url 'ProductMeasurementChart' pk=product.pk %}">Measurements</a>
      </li>
            <li class="nav-item">
        <a class="nav-link" href="{% url 'ImageListView' pk=product.pk %}">Images</a>
      </li>
        </li>
    </ul>
  </div>
</nav>


{% block content %}
{% endblock %}

</body>
</html>