{% extends 'plm/base_product.html' %}

{% load static %}

{% block content %}

<p>

<div class="container-fluid">

<p>

    <a class="btn btn-primary" href="{% url 'ProductColoursCreateView' pk=product.pk %}" role="button">Add Colour</a>

</p>

<table class="table" border="1">

    <thead>

        <th>Colour</th>

        <th>Season</th>

        <th>Comment</th>

        <th>Actions</th>

    </thead>

        {% for colour in productcolours %}

    <tr>

        <td>{{ colour.colour.name }}</td>

        <td>{{ colour.season.name }}</td>

        <td>{{ colour.comments }}</td>

        <td>Modify, Delete</td>

        {% endfor %}

    </tr>

</table>

</div>

</p>

{% endblock %}