{% extends 'plm/base.html' %}

{% load static %}

{% block content %}

<p>

<div class="container-fluid">

<p>

    <a class="btn btn-primary" href="{% url 'ColourCreateView' %}" role="button">New Colour</a>

</p>

<table class="table" border="1">

    <thead>

        <th>Code</th>

        <th>Name</th>

        <th>Notes</th>

    </thead>

        {% for colour in colours %}

    <tr>

        <td>{{ colour.code }}</td>

        <td>{{ colour.name }}</td>

        <td>{{ colour.notes }}</td>

        {% endfor %}

    </tr>

</table>

</div>

</p>

{% endblock %}