{% extends 'plm/base.html' %}

{% load static %}

{% block content %}

<p>

<div class="container-fluid">

<p>

<form action="/" method="POST">

    {% csrf_token %}

        <label for="list_designers">Select Designer</label>

    <p>

        <select class="custom-select" name="list_designers">

            <option value="0">Show all</option>

            {% for designer in designers %}

            <option value= {{ designer.id }} > {{ designer.name }} </option>

            {% endfor %}

        </select>

    </p>

        <input class="btn btn-primary" type="submit" value="Submit">

    </form>

</p>

<table class="table" border="1">

    <thead>

        <th>Code</th>

        <th>Image</th>

        <th>Description</th>

        <th>Designer</th>

        <th>Pattern Maker</th>

        <th>Production Coordinator</th>

    </thead>

{% for product in products %}

    <tr>

        <td><a href="/style/{{ product.code }}" target="_blank">{{ product.code }}</a></td>

        <td><img src="{{ product.photo.url}}" width="60"></td>

        <td>{{ product.short_description }}</td>

        <td>{{ product.designer.name }}</td>

        <td>{{ product.pattern_maker.name }}</td>

        <td>{{ product.production_coordinator.name }}</td>

        {% endfor %}

    </tr>

</table>

</div>

</p>

{% endblock %}