{% extends 'plm/base.html' %}

{% load static %}

{% block content %}

<p>

<div class="container-fluid">

<p>

    <a class="btn btn-primary" href="{% url 'MaterialCreateView' %}" role="button">New Material</a>

</p>

<table class="table" border="1">

    <thead>

        <th>Photo</th>

        <th>Code</th>

        <th>Name</th>

        <th>Content</th>

        <th>Weight</th>

        <th>Vendor / Mill</th>

        <th>Vendor Ref</th>

    </thead>

        {% for material in materials %}

    <tr>

        <td><img src="{{ material.photo.url }}" width="120"></td>

        <td>{{ material.code }}</td>

        <td>{{ material.name }}</td>

        <td>{{ material.content }}</td>

        <td>{{ material.weight }}</td>

        <td>{{ material.vendor_mill }}</td>

        <td>{{ material.vendor_ref }}</td>


        {% endfor %}

    </tr>

</table>

</div>

</p>

{% endblock %}