{% extends 'plm/base_product.html' %}

{% load static %}

{% block content %}

<p>

    <div class="container-fluid">

    <form method="post">
     {% csrf_token %}
        <p>

            <input class="btn btn-primary" type="submit" role="button"/>

        </p>

    <table class="table" border="1">

    <thead>

        <th>POM</th>

        <th>Description</th>

        {% for size in size_header %}

        <th>{{ size }}</th>

        {% endfor %}

        <th>Sort</th>

    </thead>

{#        {% for row in table %}#}
{##}
{#            <tr>#}
{##}
{#            <td>{{ row.code }}</td>#}
{##}
{#            <td>{{ row.name }}</td>#}
{##}
{#            {% for key, value in row.sizes.items %}#}
{##}
{#                <td>{{ value }}</td>#}
{##}
{#            {% endfor %}#}
{##}
{#            </tr>#}
{##}
{#        {% endfor %}#}

        {{ formset_pom.management_form }}
        {%  for form in formset_pom %}

            {{ form.id }}

            <tr>

                    <td>{{ form.code }}</td>

                    <td>{{ form.name }}</td>

{#                    {% if form.instance.pk %}#}
{##}
{#                        {% for meas in form.instance.measurement.all %}#}
{##}
{#                            <td><input name="{{ form.prefix }}-measurement" value="{{ meas.measurement }}"/></td>#}
{##}
{#                        {% endfor %}#}
{##}
{#                    {% else %}#}
{##}
{#                        {% for size in size_header %}#}
{##}
{#                            <td>0.00</td>#}
{##}
{#                        {% endfor %}#}
{##}
{#                    {% endif %}#}

            </tr>

        {% endfor %}

    </table>

    </form>

    </div>
</div>
{% endblock %}