{% extends 'plm/base_product.html' %}

{% load static %}

{% block content %}

<p>

    <div class="container-fluid">

    <form method="post">
     {% csrf_token %}
<p>

    <input class="btn btn-primary" type="submit" role="button"/>

</p>

    <table class="table" border="1">

    <thead>

        <th>POM</th>

        <th>Description</th>

        {% for size in size_header %}

        <th>{{ size }}</th>

        {% endfor %}

    </thead>

        {% for pom in poms %}

            <tr>

            <td><input type="text" name="code" value="{{ pom.code }}"></td>

            <td><input type="text" name="name" value="{{ pom.name }}"></td>

            {% for measurement in pom.measurement.all %}

                <td class="text-center"><input type="text" name="measurement" value="{{ measurement.measurement }}"></td>

            {% endfor %}

        {%  endfor %}

        </tr>

    </table>

    </form>

    </div>
</div>
{% endblock %}