{% extends 'plm/base_product.html' %}

{% load static %}

{% block content %}

<p>

    <div class="container-fluid">

    <form method="post">
     {% csrf_token %}
        <p>

            <input class="btn btn-primary" type="submit" role="button"/>

        </p>

    <table class="table" border="1">

    <thead>

        <th>POM</th>

        <th>Description</th>

        {% for size in size_header %}

        <th>{{ size }}</th>

        {% endfor %}

        <th>Sort</th>

    </thead>

        {{ formset_pom.management_form }}
        {%  for form in formset_pom %}

            {{ form.id }}

            <tr>

                    <td>{{ form.code }}</td>

                    <td>{{ form.name }}</td>

            </tr>

        {%  endfor %}

    </table>

    </form>

    </div>
</div>
{% endblock %}