{% extends 'plm/base_product.html' %}

{% load static %}

{% block content %}

<div class="container-fluid">

<p>

  <div class="container-fluid">
  <div class="row">
    <form method="POST" class="post-form">{% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-primary" type="submit" class="save btn btn-default">Save</button>
    </form>
    <div class="col-sm">
    </div>
    <div class="col-sm">
    <img src="{{ product.photo.url }}" width="150">
    </div>
  </div>
</div>

    <div class="container-fluid">

        </p>

    </div>
<p>

<h3>Colours</h3>

    <div class="container-fluid">

        <table class="table" border="1">

            <thead>

                <th>Colour</th>

                <th>Season</th>

                <th>Factory</th>

            </thead>

        {% for itr in product_colours %}

            <tr>

                <td><a href="{% url 'product_bom' pk_product=itr.product__pk pk_bom=itr.bom%}">{{ itr.colour__name }}</a></td>

                <td>{{ itr.season__name }}</td>

                <td>

                    {{ itr.bom__name }}


                </td>

        {% endfor %}

            </tr>

        </table>

        </p>

    </div>

    <a class="btn btn-primary" href="{% url 'product_colour_new' pk_product=product.pk %}" role="button">New Colour</a>


</div>

</p>

{% endblock %}