{% extends 'plm/base.html' %}

{% load static %}

{% block content %}

<div class="container-fluid">

<p>

<h3>Style Info</h3>

{% for info in productInfo %}

    Code: {{ info.code }}<br>

    Description: {{ info.short_description }}<br>

    Designer: {{ info.designer__name }}<br>

    Production Coordinator: {{ info.production_coordinator__name }}<br>

    Pattern Maker: {{ info.pattern_maker__name }}

{% endfor %}


<h3>Colourways</h3>

<table class="table" border="1">

    <thead>

        <th>Colourway</th>

        <th>Season</th>

    </thead>

{% for itr in seasonalColourways %}

    <tr>

        <td><a href="/style/{{ itr.product__code }}/colourway/{{ itr.id }}" target="_blank">{{ itr.colourway__name }}</a></td>

        <td>{{ itr.season__name }}</td>

{% endfor %}

    </tr>

</table>

</div>

</p>

{% endblock %}