{% extends 'plm/base.html' %}

{% load static %}

{% block content %}

<div class="container-fluid">

<p>

    <h3>Style Info</h3>

    <div class="container-fluid">
  <div class="row">
    <form method="POST" class="post-form">{% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-primary" type="submit" class="save btn btn-default">Save</button>
    </form>
    <div class="col-sm">
    </div>
    <div class="col-sm">
    <img src="{{ image.photo.url }}" width="150">
    </div>
  </div>
</div>

    <div class="container-fluid">

        </p>

    </div>
<p>

    <a class="btn btn-primary" href="{{ style_dict.style_code }}/style_colourway_new" role="button">New Colourway</a>

<h3>Colourways</h3>

    <div class="container-fluid">

        <table class="table" border="1">

            <thead>

                <th>Colourway</th>

                <th>Season</th>

                <th>Factory</th>

            </thead>

        {% for itr in styleColourways %}

            <tr>

                <td><a href="/style/{{ itr.product__code }}/bom/{{ itr.bom }}" target="_blank">{{ itr.colourway__name }}</a></td>

                <td>{{ itr.season__name }}</td>

                <td>

                    {{ itr.bom__name }}


                </td>

        {% endfor %}

            </tr>

        </table>

        </p>

    </div>

</div>

</p>

{% endblock %}